[Desktop Entry]
Encoding=UTF-8
Name=WebStorm
Exec=/usr/share/webstorm/bin/webstorm.sh %U
Icon=/usr/share/webstorm/bin/webstorm.png
Terminal=false
Type=Application
Categories=Development;
